﻿@model InventoryControlSystem.ViewModel.MeasurementViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MeasurementViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasurementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasurementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConversionValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversionValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquivalentMeasurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquivalentMeasurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
