﻿@model InventoryControlSystem.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasurementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasurementId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTypesId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypesId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
