﻿@model InventoryControlSystem.ViewModel.DrawerViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Create Drawer</h3>
                </div>
               @using (Html.BeginForm("Create", "Drawer", FormMethod.Post, new { @class = "form-horizontal" }))
               {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.LocationId, new SelectList(ViewBag.Locations, "Id", "Description"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DrawerNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DrawerNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DrawerNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Desription, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Desription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Desription, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="box-footer">
                        <div class="col-md-offset-2 col-md-10">
                           <input type="submit" value="Create" class="pull-right btn btn-default" />
                        </div>
                    </div>

                }

            </div>
        </div>

    </div>

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
