﻿@model InventoryControlSystem.ViewModel.DrawerViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Edit Drawer</h3>
                </div>
                @using (Html.BeginForm("Edit", "Drawer", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedTime)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.LocationId, new SelectList(ViewBag.Locations, "Id", "Description"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DrawerNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DrawerNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DrawerNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Desription, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Desription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Desription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                <div class="box-footer">
                    <div class="form-group ">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="pull-right btn btn-warning" />
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        </div>
    </section>
    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }