﻿@model IEnumerable<InventoryControlSystem.ViewModel.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"> Employee</h3>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Photo)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.DOB)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaritalStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nationality)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Religion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Qualification)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.QualificationDetails)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.City)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MobileNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pincode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Photo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DOB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaritalStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nationality)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Religion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Qualification)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QualificationDetails)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pincode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedTime)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = @item.Id }) |
                                        @*  @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }


                    </table>
                </div>
            </div>

        </div>

    </div>
</section>
