﻿@model InventoryControlSystem.ViewModel.StockViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StockViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
