﻿@model IEnumerable<InventoryControlSystem.ViewModel.OrganisationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"> Organisation</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrgName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CSTNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegistrationNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ContactPerson)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MobileNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PINno)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmailId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Website)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedTime)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrgName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CSTNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactPerson)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PINno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmailId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Website)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedTime)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = @item.Id }) |
                                        @* @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>